.generic-clickable-text{
    color: #d4b5b5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5FFF1;
    border-radius: 20px;
    box-shadow: 2px 2px;
    padding: 4px;
    transform: rotate(40deg);
}


.falling{
    position: relative;
    top: 10px;
    right: 9px;
}

.flying{
    position: relative;
    bottom: 10px;
    left: 9px;
}

.fancy{
    background-color: blue;

}

.white_text{
    color: white;
}

.absol{
    position: absolute;
    bottom: 600px;
    right: 0;
}

.phere{
    background-color: green;
    width: min-content;
    padding-inline: 4px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bolder;
}

.white{
    color: white;
}

.button_fancy{
    background-color: blueviolet;
    padding: 2px;
    border: solid;
    border-color:   #EFC7E8 #EFC7E8 #be99b8  #b391ad  ;
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}

.lookatthistrick {
    color: coral; font-weight: 900; text-decoration-line: underline; padding-inline: 30%;
}

.borderelement {
    border: solid 20px ; border-block-color: red; border-inline-color: green; border-radius: 20px; padding: 5px;
}
.border{
    border: solid 2px;
    padding: 15px;
    color: blue;
}

.rickroll {
    border: solid 5px; border-radius: 0 15px 0 15px; margin: 0 45% 0 45%; text-align: center;
}

.backgroundsz{
    background-image: url("https://c.tenor.com/09TToD3BCUIAAAAi/stars-fall.gif");
    background-size: 10%;
    transform: rotate(180deg);
    position: absolute;
    padding: 45%;
    margin: -20px 0 0 -8px;
    width: 10%;
    z-index: -1;
}

.backgrounds-top{
    background-image: url("https://c.tenor.com/09TToD3BCUIAAAAi/stars-fall.gif");
    background-size: 10%;
    position: absolute;
    padding: 45%;
    margin: -20px 0 0 -8px;
    width: 10%;
    z-index: -1;
}

.noborder{
    border: none;
}

.background{
    z-index: -1;
}

.goodcolor{
    color: #d4b5b5;
    text-decoration: none;
    text-align: center;
}

.container{
    border: solid 10px;
    display: flex;
}

.item{
    border: solid 2px;
    margin: 10px;
    width: 90px;
    
}

.container_row_reversed{
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.goodcolorv2{
    text-decoration: none;
    color: darkslategrey;
    font-size: large;
}

.justified-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-content: flex-end;
    height: 600px;
    border: solid;
}

.justified-container2{
    
    text-align: center;

    display: flex;

    background-color: antiquewhite;
    background-image: url("https://i.pinimg.com/originals/0f/39/74/0f3974ff4bc4ce026ddb3002ecef0ebf.gif");
    background-repeat: repeat-y;
    background-position-y: 10%;
    background-position: center;
    background-size: 50%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border: solid rgb(202, 255, 202) 8px;
    border-radius: 50%;
    padding: 60px;

}

.justified-container3{
    
    text-align: center;

    border: solid blue 8px;
    padding: 50px;

    background-color: antiquewhite;
    background-image: url("https://i.pinimg.com/originals/0f/39/74/0f3974ff4bc4ce026ddb3002ecef0ebf.gif");
    background-repeat: repeat-y;
    background-position-y: 10%;
    background-position: center;
    background-size: 50%;

    display: flex;

    flex-direction: column;
    
    height: 500px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end; /*this is for when wrap for content is turned on*/
}

.justified-container4{
    
    text-align: center;

    border: solid blue 8px;
    padding: 10px;

    background-color: antiquewhite;
    background-image: url("https://i.pinimg.com/originals/0f/39/74/0f3974ff4bc4ce026ddb3002ecef0ebf.gif");
    background-repeat: repeat-y;
    background-position-y: 10%;
    background-position: center;
    background-size: 50%;

    display: flex;

    flex-direction: row;
    
    height: 500px;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end; /*this is for when wrap for content is turned on*/
}

.justified-container5{
    text-align: center;
    border:solid cyan;
    width: 700px;
    height: 400px;
    
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    align-content: space-between;
    
    

}
.flex-item5-1{
    font-size: 20px;
    border: solid greenyellow;
    margin: 10px;

    flex-basis: 6%; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    
}

.flex-item5-2{
    font-size: 20px;
    border: solid yellow;
    background-color: #b391ad;
    margin: 00px;

    flex-basis: 1900%; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    
}

.flex-item5-3{
    font-size: 20;
    font-size: 20px;
    border: solid yellowgreen;
    background-color: #b391ad;
    margin: 0px;

    flex-basis: 50%; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    
}
.justified-container6{
    text-align: center;
    border:solid cyan;
    width: 200px;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item5-4{
    font-size: 20px;
    border: solid yellow;
    background-color: #b391ad;
    margin: 00px;

    flex-basis: auto; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    flex-grow: 1;
}

.flex-item5-5{
    font-size: 20;
    font-size: 20px;
    border: solid yellowgreen;
    background-color: #b391ad;
    margin: 0px;

    flex-basis: auto; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    flex-grow: 2;
}


.flex-item5-6{
    font-size: 20;
    font-size: 20px;
    border: solid yellowgreen;
    background-color: #b391ad;
    margin: 0px;

    flex-basis: auto; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    flex-grow: 200;
}


.justified-container7{
    text-align: center;
    border:solid cyan;
    width: 500px;
    height: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-item5-7{
    font-size: 20px;
    border: solid yellow;
    background-color: #b391ad;
    margin: 00px;

    flex-basis: 400px; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    flex-shrink: 0;

}

.flex-item5-8{
    font-size: 20;
    font-size: 20px;
    border: solid yellowgreen;
    background-color: #b391ad;
    margin: 0px;

    flex-basis: 200px; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    flex-shrink: 0;
}


.flex-item5-9{
    font-size: 20;
    font-size: 20px;
    border: solid red;
    background-color: #b391ad;
    margin: 0px;

    flex-basis: 200px; /* kinda destroys flex-wrap if not set to auto, sets an ensured width for the item (based on the container if use% */
    flex-shrink: 0;

}


.justified-container8{
    text-align: center;
    border:solid cyan;
    width: 500px;
    height: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    flex-direction: row;
    align-items: 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
.container1{    
    text-align: center;
    border:solid cyan;
    width: 500px;
    height: 150px;
}

.flex-row-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.itempres{
    font-size: 20;
    font-size: 20px;
    border: dashed red;
    background-color: #b391ad;
    margin: 0px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~*/
.itemflex1{
    flex-grow: 0;
    flex-basis: 5%;
    
}

.itemflex2{
    flex-basis: 600px;
    flex-shrink: 1;
}

.itemflex3{
    flex-basis: 800px;
    flex-shrink: 2;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~*/

.itemflex4{
    flex: 0 1 200px;
    
}

.itemflex5{
    flex: 0 1 900px;
}

.itemflex6{
    flex: 0 1 auto;
}

.fontsizelarge{
    font-size: 24px
}

.image-container{
    display: flex;
    border:solid green;
    justify-content: center;
}

.image-functions1{
    transform: rotate(420deg);
}

.image-functions2:hover{ 
    filter : blur(0px);
    filter: brightness(400%);
}

.image-functions2:active{ 
    filter : blur(0px) hue-rotate(00deg) contrast(200%) grayscale(10%) opacity(40%);
    
}

.simplegradient{
    background: linear-gradient(90deg,red,pink,green)

}

.image-functions2{ 
    filter : blur(10px);
}

.genericbuttonstyle{
    color: #d4b5b5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5FFF1;
    border-radius: 20px;
    box-shadow: 2px 2px;
    padding: 4px;
    transform: rotate(40deg);
    border: 0;
    margin-top: 5px;
    font-weight: bold;
}