html {
    background-color: lightpink;
}

main{
    text-align: center;
}


p {
    color: brown; font-size: 32px;
}

.lookatthistrick {
    color: coral; font-weight: 900; text-decoration-line: underline; padding-inline: 30%;
}

.borderelement {
    border: solid 20px ; border-block-color: red; border-inline-color: green; border-radius: 20px;width: 273px;
}

.rickroll {
    border: solid 5px; border-radius: 0 15px 0 15px; margin: 0 45% 0 45%; text-align: center;
}

.backgroundsz{
    background-image: url("https://c.tenor.com/09TToD3BCUIAAAAi/stars-fall.gif");
    background-size: 10%;
    transform: rotate(180deg);
    position: absolute;
    padding: 45%;
    margin: -20px 0 0 -8px;
    width: 10%;
    z-index: -1;
}

.backgrounds-top{
    background-image: url("https://c.tenor.com/09TToD3BCUIAAAAi/stars-fall.gif");
    background-size: 10%;
    position: absolute;
    padding: 45%;
    margin: -20px 0 0 -8px;
    width: 10%;
    z-index: -1;
}
