.backgroundHtml{
    /*background: radial-gradient(circle, blue 0%,green 75%,red 100%);*/
    background: radial-gradient(circle, blue -45%, rgb(123, 66, 215) 99%);
    
}

.backgroundHeader{
   
    background: red;
    
}

.inspectBorder{
    border: solid rgb(0, 255, 26);
}

.height{

}

.buttonA{
    border: none;
    background: transparent;
    width: auto;

}

.buttonA:hover{
    background-color: rgba(41, 44, 47, 0.241);
    border-radius: 4px;
    animation: infinite;
    animation-name: rotation;
    animation-duration: 0.3s;
    background:linear-gradient(270deg, green 0%,red 100%);
    width: 100%;
}

.linkA{
    text-decoration: none;
    display: inline;
    width: 100%;
    height: 100%;
}
.linkA:hover{
    animation: infinite;
    animation-name: shadow;
    animation-duration: 0.5s;
}



@keyframes rotation{
    0% {background:linear-gradient(270deg, green 0%,red 100%);text-shadow: 1px 1px;}
    25% {background:linear-gradient(180deg, green 0%,red 100%);text-shadow: 2px 2px;}
    50% {background:linear-gradient(90deg, green 0%,red 100%);text-shadow: 3px 3px;}
    75% {background:linear-gradient(0deg, green 0%,red 100%);text-shadow: 4px 4px;}
    100% {background:linear-gradient(-90deg, green 0%,red 100%);text-shadow: 5px 5px;}
}

@keyframes shadow{
    0% {text-shadow: 1px 1px;}
    25% {text-shadow: 2px 2px;}
    50% {text-shadow: 3px 3px;}
    75% {text-shadow: 4px 4px;}
    100% {text-shadow: 5px 5px;}
}

.headerText{
    font-size: 4vh;
    color: white;
    text-shadow: -1px 2px black;
}

.gridA{
    display: grid;
    grid-template-columns:
    1fr 3fr 0.4fr;
}

.flexCenter{
    display: flex;
    justify-content: center;
}

.flexRight{
    display: flex;
    justify-content: right;
}

.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vh;
    
}

.fancText{
    color: yellow;
    font-size: 3vh;
    background-color: red;
    text-align: center;
    text-shadow: 2px 2px black;
}
.fancText:hover{
    animation: infinite;
    animation-name: mlg;
    animation-duration: 1s;
}
@keyframes mlg{
    0%{color: yellow;}
    33%{color: cyan;}
    66%{color: greenyellow;}
}

.txtCenter{
    text-align: center;
}

.imgRot:hover{
    animation: infinite;
    animation-name:imgRotate;
    animation-duration: 0.01s;
}

@keyframes imgRotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}

}